USE [master]
GO
/****** Object:  Database [HOMEWORK]    Script Date: 11.09.2023 16:59:23 ******/
CREATE DATABASE [HOMEWORK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOMEWORK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HOMEWORK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOMEWORK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HOMEWORK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOMEWORK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOMEWORK]
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 11.09.2023 16:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[EmpId] [int] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[ManagerId] [int] NULL,
	[DateOfJoining] [date] NULL,
	[City] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSalary]    Script Date: 11.09.2023 16:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalary](
	[EmpId] [int] NOT NULL,
	[Project] [nvarchar](50) NULL,
	[Salary] [int] NULL,
	[Variable] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[EmployeeDetails] ([EmpId], [FullName], [ManagerId], [DateOfJoining], [City]) VALUES (121, N'John Snow', 321, CAST(N'2019-01-31' AS Date), N'Toronto')
INSERT [dbo].[EmployeeDetails] ([EmpId], [FullName], [ManagerId], [DateOfJoining], [City]) VALUES (321, N'Walter White', 986, CAST(N'2020-01-30' AS Date), N'California')
INSERT [dbo].[EmployeeDetails] ([EmpId], [FullName], [ManagerId], [DateOfJoining], [City]) VALUES (421, N'Kuldeep Rana', 876, CAST(N'2021-11-27' AS Date), N'New Delhi')
GO
INSERT [dbo].[EmployeeSalary] ([EmpId], [Project], [Salary], [Variable]) VALUES (121, N'P1', 8000, 500)
INSERT [dbo].[EmployeeSalary] ([EmpId], [Project], [Salary], [Variable]) VALUES (321, N'P2', 10000, 1000)
INSERT [dbo].[EmployeeSalary] ([EmpId], [Project], [Salary], [Variable]) VALUES (421, N'P3', 12000, 0)
GO
USE [master]
GO
